* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background: #0F0F17;
  border: 3px solid rgba(255,255,255,0.1);
  border-radius: 10px;
}

tooltip {
  background: #171717;
  color: #A1BDCE;
  font-size: 12px;
  border-radius: 7px;
  border: 2px solid #101a24;
}

#workspaces {
  background: rgba(23,23,23,0.0); 
  color: #888789;
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px;
  padding-top : 1px;
}

#workspaces button {
    background: rgba(23, 23, 23, 0.0);
    color: #A1BDCE;
    box-shadow: none;
    text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
}


#workspaces button.active {
    color: #A1BDCE;
    transition: all 0.3s ease;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button:hover {
    background: none;
    color: #72D792;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-power{
    color: #FFFFFF;
    background:  rgba(22, 19, 32, 0.9);
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#clock{
  color: #A1BDCE;
  font-weight: 900;
  font-family: "JetBrains Mono Nerd Font";
  background: rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

#pulseaudio{
  font-size: 16px;
  font-weight: normal;
  color: #6F8FDB;
  background:  rgba(22, 19, 32, 0.0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding: 0px 4px 0px 4px;
}

#audio {
  margin: 0px 4px 0px 4px;
}

#network{
  color: #A1BDCE;
  font-weight: normal;
  font-size: 16px;
  margin: 0px 0px 0px 4px;
  padding: 0px 0px 0px 0px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 100px;
  margin: 4px 0px 4px 0px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #A1BDCE;
  background-color: transparent;
  box-shadow: none;
  margin-right: 8px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096C0;
}

#hardware {
  margin: 0px 4px 0px 4px;
}

#group-minimized {
  border-left: solid;
  border-left-width: 0.5px;
}

#cpu{
  font-size: 16px;
  font-weight: normal;
  color: #915CAF;
  padding: 0px 4px 0px 0px;
}
#memory{
  font-size: 16px;
  font-weight: normal;
  color: #E4C9AF;
  padding: 0px 4px 0px 4px;
}

#power-group {
  margin: 0px 4px 0px 0px;
}

#not-power {
  margin: 0px 4px 0px 4px;
  padding: 0px 4px 0px 4px;
}

